{% extends 'gestionmedicos.html.twig' %}

{% block contenido %}

    <div class="container">

<h1>Lista de bolsa</h1>

<a href="{{ path('gestion_bolsa_nuevo') }}" class="btn btn-primary">Nuevo</a>
<table class="table table-striped table-hover" style="width:97%; margin-top:30px;">
<thead>
<tr>
<th>ID</th>
<th>PUESTO</th>
<th>FECHA_INICIO</th>
<th>FECHA_FIN</th>
<th>ACCIONES</th>
<tr>
</thead>
<tbody>
{% for bolsa in bolsas %}
<tr>
<td>{{ bolsa.bolsaId }}</td>
<td>{{ bolsa.puesto }}</td>
<td>{{ bolsa.inicio|date('d-m-Y') }}</td>
<td>{{ bolsa.fin|date('d-m-Y') }}</td>
<td>
<a href="{{ path('gestion_bolsa_editar', {'id': bolsa.bolsaId}) }}" class="btn btn-primary">Editar</a>
<a href="{{ path('gestion_bolsa_eliminar', {'id': bolsa.bolsaId}) }}" class="btn btn-danger">Eliminar</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
